[submodule "python-build-standalone"]
	path = python-build-standalone
	url = https://github.com/astral-sh/python-build-standalone.git
[submodule "vunit"]
	path = vunit
	url = https://github.com/xq-tec/vunit.git
